<div class="pure-u-1 sign-up" ng-controller="SignupCtrl">
  <h4 class='center'>Sign Up:</h4>
  <div class="col-sm-12">
    <form class="pure-form pure-form-aligned" name="form" ng-submit="register(form)" novalidate>
      <fieldset>
        
        <div class="pure-control-group" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
          <label>Name</label>
          <input type="text" name="name" class="form-control pure-u-1-2" ng-model="user.name" required/>
        </div>
        <div class="pure-control-group" ng-class="{ 'has-success': form.email.$valid && submitted, 'has-error': form.email.$invalid && submitted }">
          <label>Email</label>
          <input type="email" name="email" class="pure-u-1-2 form-control" ng-model="user.email" required mongoose-error/>
        </div>
        <div class="pure-control-group" ng-class="{ 'has-success': form.password.$valid && submitted, 'has-error': form.password.$invalid && submitted }">
          <label>Password</label>
          <input type="password" name="password" class="pure-u-1-2 form-control" ng-model="user.password" ng-minlength="3" required mongoose-error/>
        </div>
        <div class="messages">
          <p class="help-block" ng-show="form.name.$error.required && submitted"> Please enter your name. </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            Please enter an email address.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Please enter a valid email address.
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
          <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters long.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>
        <div class="pure-controls">
          <button class="pure-button pure-button-primary" type="submit">Sign up</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>